span.error {
    color: red !important;
}

table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc
}

div.productAdded {
    position: absolute;
    bottom: 5px;
    left: 110px;
}

.hide {
    display: none;
}